/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
/* Header Rules Here*/
header { 
    background-color: #33C1B1 ;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    }
#headerWrapper { background-color: #9E87C0;}
.headings { 
 display: flex;
 flex-direction: column;
 margin-top: -2.5rem;
 margin-left:-1rem;
}
.headings h1 { font-family: 'Monserrat', sans-serif; font-size: 20px;}
.headings div { font-size: 'Roboto', sans-serif; font-size: 15px; margin-top: -20px; margin-left: 20px;}
.motto {  
    margin-top:-1rem;
}


/*Button Rules*/
nav button { 
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

/*Navigation Rules Here*/
nav { background-color: #E7C15F;
      font-family: Verdana, sans-serif;}
nav ul {list-style-type: none;
        padding: 0;
        margin: 0;}
nav ul li a{
    display:block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a { background-color:rgba(0,0,0,0.3); color: #fff; }
nav ul li a:hover{ background-color: rgba(0,0,0,0.4);}
nav ul.hide { display:none;}
 
/*Main Rules Here*/
main div{ height: 100%;
          border: 1px solid black;
          padding:2rem;
          margin-top:2rem;
          text-align:left;
          }
main div, h1 {margin-left: 1rem;}
/* Footer rules here*/
footer { max-width: 100%; margin-top: 1rem;}
footer p {padding:1rem;
          margin: auto 0;
          text-align: center;}
         
#footerWrapper { background-color: #9E87C0;}
/* Clearfix*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}