@media only screen and (min-width:64rem){
    /*body*/
    body {max-width: 90%; margin:auto;}
    /*navigation ruyles*/
    nav ul{display: flex;}
    nav ul li{ flex: 1 1 100%;
    font-size: 20px;}
    h1 {text-align:center; }
    table, th, tr, td, thead, tbody, td:before, td:nth-of-type(1):before, td:nth-of-type(2):before, td:nth-of-type(3):before, td:nth-of-type(4):before, td:nth-of-type(5):before {
        all:revert;}
        tr, th {all:revert;}
        table, th, td {
            border: 1px solid black;
            width:1423px; }
    /*images rules*/
    .small {display:none;}
    .large{
        display:block;
        margin: auto;}
        .domain{ width:80%; display: block; margin:auto;}
    /*color rules*/
.colors{
    width:400px;
    }

}

/*end of media query/*